<!--
  Generated template for the PlayvideoPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar danger *navbar>
    <ion-title>Movie Details</ion-title>

    <ion-buttons end>
        <button (click)="presentActionSheet()">
            <ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content class="playvideo">
    <ion-card>
        <div id="elastic-header" class="video-container">
            <iframe width="560" height="315" [src]="getmoviedetails.trailerlinks" frameborder="0" allowfullscreen>
            </iframe>
        </div>
        <ion-card-content>
            <h2 class="card-title">
                {{getmoviedetails.moviedetails.name}} <small primary>PG{{getmoviedetails.moviedetails.audience}}</small>
            </h2>

            <ion-row *ngFor="let ms of movieselected; let i = index;" style="margin-top: 10px;">
                <ion-col *ngIf="i > 4">
                    <ion-icon [name]='ms.itemicon'></ion-icon>
                    {{ms.itemdesc}}
                </ion-col>
                <ion-col *ngIf="i > 4">
                    <p>{{ms.item}}</p>
                </ion-col>
            </ion-row>
            <br>
            <p>{{getmoviedetails.moviedetails.synopsis}}</p>
        </ion-card-content>

        <ion-item actions class="demo-card">
            <button clear item-left pink>
                <ion-icon name='heart'></ion-icon>
                    {{getmoviedetails.moviedetails.like}} likes
            </button>
        </ion-item>
    </ion-card>
</ion-content>
<button fab danger fab-bottom fab-right (click)="bookticket()" style="z-index: 100" [hidden]="nowdate < newdate">
    <ion-icon name='cart' is-active="true"></ion-icon>
</button>
